p{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

h2{
    color: red;
    background-color: yellow;
    text-align: center;
}

h1{
    color: green;
    font-style: italic;
    text-align: center;
    text-shadow: 15px 9px 5px rgba(92,38,134,0.74);
}

.caja{
    width: 200px;
    height: 200px;
    background-color: yellow;
    box-shadow: 1px 24px 14px -10px rgba(0,0,0,0.75);
    border: 20px double #5ef347;
    border-radius: 10px 10px 200px 10px;
}

.destacados{
    color: red;
    font-style: italic;
}

#caja2{
    width: 500px;
    height: 200px;
    background-color: orange;
}